@use "styles/colors";
@use "styles/sizes";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  position: relative;
}

.viewer {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.4;
  font-size: 14px;
  color: #414141;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 2px solid #4ca09b;
}

.iconTitle {
  color: #5f83a5;
  display: flex;
  align-items: center;
  font-weight: 700;

  > *:first-child {
    margin-right: 16px;
  }
}

.spinner {
  svg {
    fill: #5f83a5;
  }
}

.check {
  fill: colors.$green;
}

.clearButton {
  position: absolute;
  top: -52px;
  left: 50%;
  transform: translateX(-1 * sizes.$input-height * 0.5);
}

.errorIcon {
  fill: colors.$error;
}

.errorMessage {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  color: colors.$error;
}
