@use "styles/colors";
@use "styles/sizes";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  position: relative;
}

.editor {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: 0;
  outline: 0;
  line-height: 1.5;
  flex-grow: 1;
  border-radius: 8px;
  color: #414141;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 2px solid #4ca09b;
}

.iconTitle {
  color: #5f83a5;
  display: flex;
  align-items: center;
  font-weight: 700;

  > svg {
    fill: #5f83a5;
  }

  > *:first-child {
    margin-right: 16px;
  }
}
