.container {
  display: flex;
  padding: 16px;
  background-color: #fff;
  flex-direction: column;
  max-width: 320px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  color: #626262;

  > * {
    margin-bottom: 16px;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  > svg {
    fill: #d9bb53;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}
