@use "styles/colors";

.details {
  line-height: 56px;
  max-height: 56px;
  position: relative;
  background-color: #fff;
  padding-left: 16px;
  border-radius: 4px;
  background-color: #f6f6ec;
  color: #504f43;
  transition: max-height 0.3s ease;

  &[open] {
    max-height: 99rem;
    transition: max-height 1s ease;
  }

  > .summary::after {
    content: "+";
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: center;
    transition: 200ms linear;
  }

  &[open] > .summary::after {
    transform: rotate(45deg);
  }
}

.summary {
  cursor: pointer;
  list-style: none;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding-right: 56px;
  color: #4e4c3f;

  &::marker {
    display: none;
  }
}
